@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 6% 10%;

    --muted: 240 6% 90%;
    --muted-foreground: 240 5% 65%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 5% 34%;
    --popover-border: 240 6% 90%;

    --card: 240 5% 96%;
    --card-foreground: 240 5% 34%;

    --primary: 267 46% 58%;
    --primary-foreground: 256 48% 95%;

    --secondary: 190 81% 36%;
    --secondary-foreground: 183 84% 90%;

    --accent: 156 50% 78%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --succed: 162 48% 45%;
    --succed-foreground: 161 94% 30%;

    --error: 0 84% 60%;
    --error-foreground: 0 86% 59%;

    --warning: 38 92% 50%;
    --warning-foreground: 32 95% 44%;

    --ring: var(--primary) / 0.3;

    --radius: 0.5rem;
  }

  .dark {
    --background: 220 9% 7%;
    --foreground: 216 12% 84%;

    --muted: 240 5% 34%;
    --muted-foreground: 240 5% 65%;

    --accent: 162 48% 45%;
    --accent-foreground: 168 49% 10%;

    --popover: 240 10% 4%;
    --popover-foreground: 240 5% 84%;
    --popover-border: 240 4% 16%;

    --card: 230 8% 16%;
    --card-foreground: 216 12% 84%;

    --primary: 263 49% 67%;
    --primary-foreground: 267 40% 23%;

    --secondary: 188 83% 43%;
    --secondary-foreground: 196 68% 15%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 100% 83%;

    --succed: 162 48% 45%;
    --succed-foreground: 156 72% 67%;

    --error: 0 84% 60%;
    --error-foreground: 0 100% 83%;

    --warning: 38 92% 50%;
    --warning-foreground: 48 96% 89%;

    --ring: var(--primary) / 0.3;

    --radius: 0.5rem;
  }
}

@layer base {
  ::selection {
    @apply bg-brand-300;
  }

  ::-moz-selection {
    @apply bg-brand-300;
  }

  .dark ::selection {
    @apply bg-brand-700;
  }

  .dark ::-moz-selection {
    /* Code for Firefox */
    @apply bg-brand-700;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }

  h1 {
    @apply scroll-m-20 text-4xl font-bold tracking-tight lg:text-5xl;
  }
  h2 {
    @apply scroll-m-20 pb-2 text-3xl font-semibold tracking-tight transition-colors;
  }
  p {
    @apply leading-7 [&:not(:last-child)]:mb-4;
  }
  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }
}

@layer utilities {
  .title {
    @apply scroll-m-20 font-mono text-5xl font-bold tracking-tight;
  }
}
